@page "/"
<div class="content">
    <div class="form-group">
        <div class="container list big_text" style="text-align:center;">
            <h1 class="big_text content">Hello!</h1>
            <div class="accordion" style="z-index:1;position:absolute">
            </div>
        </div>
    </div>
</div>
@code  {}
