@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="background-color: #2e2f2d17">
        <LoginDisplay />
    </div>
    <div class="bg_wrap">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>